@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Manrope', 'Poppins', 'Rubik', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
